{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_title%} MyFridge | Login {% endblock %}


{% block content %}



<div class="p-5 mt-5 text-center">
    <h1 class="mb-5">Login</h1>
</div>


<div class="container mt-5 mb-5">
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-success" type="submit">Login</button>
    </form>
    <a href="{% url 'users:register' %}">If you do not have an account, you can sign up here</a>
</div>

{% endblock %}
