{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_title%} MyFridge | Notifications {% endblock %}

{% block content %}

<div class="container mt-5">
    <ul class="list-group">
        {% for notification in unread_notifications %}
            <li class="list-group-item">
                {{ notification.verb }}
            </li>
        {% empty %}
            <div class="alert alert-info" role="alert">
                <li>No unread notifications.</li>
            </div>
        {% endfor %}
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $.ajax({
        url: '{% url "users:mark_notification_as_read" %}',
        method: 'POST',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    });
});
</script>

{% endblock %}
