{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_title%} MyFridge | Dish {{object.name}} {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-body">
                    <h2 class="card-title">{{object.name}} {% if object.get_newest_label %} <strong>Newest</strong> {% endif %}</strong></h2>
                        {% if object.author == user %}
                        <a href="{% url 'dishes:dish-update' object.id %}" class="btn btn-warning">Edit</a>
                        <form action="{% url 'dishes:dish-delete' object.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger mt-2">Delete</button>
                        </form>
                        {% endif %}
                    <p class="card-text"><a href="{% url 'users:profile_detail' object.author.id %}">{{object.author}}</a> | {{object.date_created}}</p>
                    {% if object.image %}
                    <img class="card-img-top img-fluid mx-auto d-block" src="{{object.image.url}}">
                    {% else %}
                    <img class="card-img-top img-fluid mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg">
                    {% endif %}

                    <h3>Main Ingredients:</h3>
                    <a href="{% url 'dishes:send-ingredients' object.id %}" class="btn btn-success">Send Ingredients</a>
                      <ul>
                        {% for ingredient in object.main_ingredient.all %}
                        <li>{{ ingredient }}</li>
                        {% endfor %}
                      </ul>

                      <h3>Other Ingredients:</h3>
                      <ul>
                        {% for ingredient in object.other_ingredients.all %}
                        <li>{{ ingredient }}</li>
                        {% endfor %}
                      </ul>

                      <h3>Can have:</h3>
                      <ul>
                        {% if object.gluten %}
                        <li>Gluten</li>
                        {% endif %}
                        {% if object.lactose %}
                        <li>Lactose</li>
                        {% endif %}
                        {% if object.meat %}
                        <li>Meat</li>
                        {% endif %}
                        {% if object.vegetarian %}
                        <li>Vegetarian</li>
                        {% endif %}
                        {% if object.vegan %}
                        <li>Vegan</li>
                        {% endif %}
                      </ul>

                    <p class="card-text mt-3">{{object.description|safe}}</p>
                </div>
            </div>

            <a href="{% url 'social:rate-add' object.id %}" class="btn btn-success">Add rate</a>
            <div class="mt-4">
            {% if rates %}
            {% for rate in rates %}
                <div class="card my-2">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'users:profile_detail' rate.author.id %}">{{rate.author}}</a> {{rate.choose_rate}} {% if rate.get_newest_label %} <strong>Newest</strong> {% endif %}</h5>
                        <p class="card-text">{{rate.comment}}</p>
                        {% if rate.author == user %}
                          <form method="POST" action="{% url 'social:rate-delete' object.id %}" class="d-inline">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger">Delete</button>
                          </form>
                         <a href="{% url 'social:rate-update' object.id %}" class="btn btn-warning">Edit</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
            {% else %}
            <p class="my-4">There are no rate yet</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
