<form method="POST" action="{% url 'dishes:dish-delete' object.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>

<a href="{% url 'dishes:dish-update' object.id %}">Update dish</a> <br>
<a href="{% url 'social:rate-add' object.id %}">Add rate</a>


{{object.name}} <br>
<img src="http://127.0.0.1:8000/media/{{object.image}}"> <br>
{{object.author}} <br>
{{object.time_to_make}} <br>
{{object.date_created}} <br>

{% if rates %}
    {% for rate in rates %}
        {{rate}}
        <a href="{% url 'social:rate-update' object.id %}">Update rate</a>
    {% endfor %}
{% endif %}