{% load crispy_forms_tags %}

<a href="{% url 'dishes:dish-create' %}">Create new dish</a> <br>

<form method="GET" action="">
  {{ filter_form|crispy }}
  {{ date_sorting_form|crispy }}
  {{ gluten_form|crispy }}
  {{ lactose_form|crispy }}
  {{ meat_form|crispy }}
  {{ vegan_form|crispy }}
  <button type="submit">Filtruj</button>
</form>

{% for data in object_list %}
<a href="{% url 'dishes:dish-detail' data.id %}">{{data.name}}</a> <br>
    <img src="http://127.0.0.1:8000/media/{{data.image}}"> <br>
    {{data.author}} <br>
    {{data.time_to_make}} <br>
    {{data.date_created}} <br>
{% endfor %}
