{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_title%} MyFridge {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <a href="{% url 'dishes:dish-create' %}">Add dish</a>
                <a href="{% url 'dishes:random-dish' %}">Random dish</a>
                <form method="GET" action="">
                    {% csrf_token %}
                    <div>{{ search_form|crispy }}</div>
                    <div>{{ gluten_form|crispy }}</div>
                    <div>{{ lactose_form|crispy }}</div>
                    <div>{{ meat_form|crispy }}</div>
                    <div>{{ vegan_form|crispy }}</div>
                    <div>{{ vegetarian_form|crispy }}</div>
                    <div>{{ date_sorting_form|crispy }}</div>
                    <div>{{ calories_sorting_form|crispy }}</div>
                    <div>{{ country_form|crispy }}</div>
                    <div>{{ difficulty_level_form|crispy }}</div>
                    <div>{{ category_form|crispy }}</div>
                    <button type="submit" class="btn btn-success mt-3">Filter</button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            {% for data in object_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a style="text-decoration: none; color: black;" href="{% url 'dishes:dish-detail' data.id %}" class="h4">{{ data.name }} {% if data.get_newest_label %} <strong>Newest</strong> {% endif %}</a>
                            {% if data.image %}
                                <img class="card-img-top" src="{{data.image.url}}" alt="{{ data.name }}">
                            {% else %}
                                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg" alt="No Image">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <p><strong>Level:</strong> {{data.level}}</p>
                            <p><strong>Kcal:</strong> {{data.kcal}}</p>
                            <p><strong>Category:</strong> {{data.category}}</p>
                            <p><strong>Time to make:</strong> {{ data.time_to_make }}</p>
                            {% for ingredient in data.main_ingredient.all %}
                                <span style="font-weight: bold; background-color: #cfcfcf; border-radius:25px; padding: 0 15px;" class="
                                    {% if ingredient.name in search_query  %}
                                        text-success
                                    {% else %}
                                        text-black
                                    {% endif %}
                                ">{{ ingredient }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <form action="{% url 'social:favourite-add' data.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Add to favourite</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}