{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_title%} MyFridge | Posts {{object.id}} {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-body">
                    <h2 class="card-title">{{object.title}}</h2>
                    <p class="card-text">{{object.author}} | {{object.created_date}}</p>
                    {% if object.image %}
                    <img class="card-img-top img-fluid mx-auto d-block" src="{{object.image.url}}">
                    {% else %}
                    <img class="card-img-top img-fluid mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg">
                    {% endif %}
                    <p class="card-text mt-3">{{object.text|safe}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
