{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_title%} MyFridge | Posts {{object.id}} {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-body">
                    <h2 class="card-title">{{object.title}}</h2>
                          {% if object.get_newest_label %}
                            <strong>Newest</strong>
                          {% endif %}
                        {% if object.author == user %}
                        <a href="{% url 'blog:update_post' object.id %}">Edit</a>
                        <form action="{% url 'blog:delete_post' object.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary mt-2">Delete</button>
                        </form>
                        {% endif %}
                    <p class="card-text"><a href="{% url 'users:profile_detail' object.author.id %}">{{object.author}}</a> | {{object.created_date}}</p>
                    {% if object.image %}
                    <img class="card-img-top img-fluid mx-auto d-block" src="{{object.image.url}}">
                    {% endif %}
                    <p class="card-text mt-3">{{object.text|safe}}</p>
                </div>
            </div>

            <a href="{% url 'blog:create_comment' object.id %}" class="btn btn-primary">Add comment</a>
            {% if comments %}
            <div class="mt-4">
            {% for comment in comments %}
                <div class="card my-2">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'users:profile_detail' comment.author.id %}">{{comment.author}}</a> {% if comment.get_newest_label %} <strong>Newest</strong> {% endif %}</strong></h5>
                        <p class="card-text">{{comment.text}}</p>
                        {% if comment.author == user %}
                        <form action="{% url 'blog:delete_comment' comment.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary mt-2">Delete</button>
                        </form>

                        <a href="{% url 'blog:update_comment' comment.id %}">Edit</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
            {% else %}
            <p class="my-4">There are no comments yet</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
