{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_title%} MyFridge | MealPlan List {% endblock %}


{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center vh-100 flex-column">

<a href="{% url 'tools:meal_plan_create' %}">Crete daily meal plan</a>
<a href="{% url 'tools:meal_create' %}">Create meal</a>

{% if object_list %}
{% for data in object_list %}
    <a href="{% url 'tools:meal_plan_details' data.id %}">Details</a> <br>
    <a href="{% url 'tools:meal_plan_update' data.id %}">Update</a> <br>
    <form action="{% url 'tools:meal_plan_delete' data.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary mt-2">Delete</button>
    </form> <br>
    {{data.date}}
    {{data.month}}
    {{data.year}}
    {{data.breakfast}}
    {{data.second_breakfast}}
    {{data.lunch}}
    {{data.tea}}
    {{data.dinner}}
{% endfor %}
{% else %}
    <h2 class="text-center">Your shopping list is empty</h2>

{% endif %}

</div>
{% endblock %}