{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_title%} MyFridge | Tools{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container text-center">
        <a href="{% url 'tools:bmi' %}" class="btn btn-primary m-2">BMI</a>
        <a href="{% url 'tools:shopping_list' %}" class="btn btn-secondary m-2">Shopping List</a>
        <a href="{% url 'tools:caloric-needs' %}" class="btn btn-success m-2">Caloric needs</a>
        <a href="{% url 'tools:perfect-weight' %}" class="btn btn-danger m-2">Perfect weight</a>
        <a href="{% url 'tools:meal_plan_list' %}" class="btn btn-warning m-2">Daily meal plan</a>
        <a href="{% url 'tools:daily_statistics_report' %}" class="btn btn=warning m-2">Daily statistics</a>
    </div>
</div>
{% endblock %}
