{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta_title %} MyFridge | Daily Statistics Report {% endblock %}

{% block content %}

<a href="{% url 'users:edit_profile' current_user %}" class="btn btn-primary">Edit your settings</a>
<a href="{% url 'tools:daily_statistics_create' %}" class="btn btn-primary">Add daily statistics</a>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {% if last_30_days_stats < 0%}
                        <h5 class="card-title">Last 30 Days Result</h5>
                        <p class="card-text">You lost: {{last_30_days_stats}} kg in the last 30 days</p>
                    {% else %}
                        <h5 class="card-title">Last 30 Days Result</h5>
                        <p class="card-text">You gained: {{last_30_days_stats}} kg in the last 30 days</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {% if last_day_stats < 0 %}
                        <h5 class="card-title">Last Day Result</h5>
                        <p class="card-text">You lost: {{last_day_stats}} kg from last day</p>
                    {% else %}
                        <h5 class="card-title">Last Day Result</h5>
                        <p class="card-text">You gained: {{last_day_stats}} kg from last day</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="tab le-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Weight</th>
                <th scope="col">Date Created</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for data in daily_statistics %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ data.weight }}</td>
                <td>{{ data.date_created }}</td>
                <td><a class="btn btn-warning" href="{% url 'tools:daily_statistics_update' data.id %}">Update</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
